<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Product Category list</h4>
                <h6>View/Search product Category</h6>
            </div>
            <div class="page-btn">
                <a [routerLink]="['/cate-create']" class="btn btn-added">
                    <img src="assets/img/icons/plus.svg" class="me-1" alt="img">Add Category
                </a>
            </div>
        </div>


        <!-- /product list -->
        <div class="card">
            <div class="card-body">
                <app-table-top></app-table-top>
                <app-filter></app-filter>
                <app-table></app-table>
            </div>
        </div>
        <!-- /product list -->
    </div>
</div>