<div class="table-responsive">
    <table class="table datanew">
        <thead>
            <tr>
                <th>
                    <label class="checkboxs">
                        <input type="checkbox" id="select-all">
                        <span class="checkmarks"></span>
                    </label>
                </th>
                <th>Image</th>
                <th>Brand Name</th>
                <th>Brand Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>
                    <a class="product-img">
                        <img src="assets/img/brand/adidas.png" alt="product">
                    </a>
                </td>
                <td>Adidas</td>
                <td>Shoes, sportswear</td>
                <td>
                    <a class="me-3" href="editbrand.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>
                    <a class="product-img">
                        <img src="assets/img/brand/colgate.png" alt="product">
                    </a>
                </td>
                <td>Colgate</td>
                <td>Oral hygiene. Toothbrushes</td>
                <td>
                    <a class="me-3" href="editbrand.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>
                    <a class="product-img">
                        <img src="assets/img/brand/samsung.png" alt="product">
                    </a>
                </td>
                <td>samsung</td>
                <td>Electronics</td>
                <td>
                    <a class="me-3" href="editbrand.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
