<div class="table-responsive">
    <table class="table  datanew">
        <thead>
            <tr>
                <th>
                    <label class="checkboxs">
                        <input type="checkbox" id="select-all">
                        <span class="checkmarks"></span>
                    </label>
                </th>
                <th>Customer Name</th>
                <th>code</th>
                <th>Customer</th>
                <th>Phone</th>
                <th>email</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/customer/customer1.jpg" alt="product">
                    </a>
                    <a href="javascript:void(0);">Thomas</a>
                </td>
                <td>201</td>
                <td>Thomas</td>
                <td>+12163547758 </td>
                <td>thomas@example.com</td>
                <td>USA</td>
                <td>

                    <a class="me-3" href="editcustomer.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/customer/customer2.jpg" alt="product">
                    </a>
                    <a href="javascript:void(0);">Benjamin</a>
                </td>
                <td>202</td>
                <td>Benjamin</td>
                <td>123-456-888</td>
                <td>customer@example.com</td>
                <td>USA</td>
                <td>

                    <a class="me-3" href="editcustomer.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/customer/customer3.jpg" alt="product">
                    </a>
                    <a href="javascript:void(0);">James</a>
                </td>
                <td>521</td>
                <td>James</td>
                <td>123-456-888</td>
                <td>customer@example.com</td>
                <td>USA</td>
                <td>

                    <a class="me-3" href="editcustomer.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/customer/customer3.jpg" alt="product">
                    </a>
                    <a href="javascript:void(0);">Bruklin</a>
                </td>
                <td>555</td>
                <td>Bruklin</td>
                <td>123-456-888</td>
                <td>bruklin@example.com</td>
                <td>Thailand</td>
                <td>

                    <a class="me-3" href="editcustomer.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/customer/customer4.jpg" alt="product">
                    </a>
                    <a href="javascript:void(0);">Beverly</a>
                </td>
                <td>325</td>
                <td>Beverly</td>
                <td>+12163547758 </td>
                <td>Beverly@example.com</td>
                <td>Phuket island</td>
                <td>

                    <a class="me-3" href="editcustomer.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/customer/customer5.jpg" alt="product">
                    </a>
                    <a href="javascript:void(0);">B. Huber</a>
                </td>
                <td>589</td>
                <td>B. Huber </td>
                <td>123-456-888</td>
                <td>Huber@example.com</td>
                <td>Germany</td>
                <td>

                    <a class="me-3" href="editcustomer.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/customer/customer6.jpg" alt="product">
                    </a>
                    <a href="javascript:void(0);">James Stawberry</a>
                </td>
                <td>254</td>
                <td>James Stawberry</td>
                <td>+12163547758 </td>
                <td>customer@example.com</td>
                <td>Angola</td>
                <td>

                    <a class="me-3" href="editcustomer.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-imgs">
                        WC
                    </a>
                    <a href="javascript:void(0);">James Stawberry</a>
                </td>
                <td>681</td>
                <td>Fred john</td>
                <td>123-456-888</td>
                <td>john@example.com</td>
                <td>Albania</td>

                <td>

                    <a class="me-3" href="editcustomer.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/customer/customer5.jpg" alt="product">
                    </a>
                    <a href="javascript:void(0);">B. Huber</a>
                </td>
                <td>589</td>
                <td>B. Huber </td>
                <td>123-456-888</td>
                <td>Huber@example.com</td>
                <td>Germany</td>
                <td>

                    <a class="me-3" href="editcustomer.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/customer/customer6.jpg" alt="product">
                    </a>
                    <a href="javascript:void(0);">James Stawberry</a>
                </td>
                <td>254</td>
                <td>James Stawberry</td>
                <td>+12163547758 </td>
                <td>customer@example.com</td>
                <td>Angola</td>
                <td>

                    <a class="me-3" href="editcustomer.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-imgs">
                        WC
                    </a>
                    <a href="javascript:void(0);">James Stawberry</a>
                </td>
                <td>681</td>
                <td>Fred john</td>
                <td>123-456-888</td>
                <td>john@example.com</td>
                <td>Albania</td>

                <td>

                    <a class="me-3" href="editcustomer.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/customer/customer5.jpg" alt="product">
                    </a>
                    <a href="javascript:void(0);">B. Huber</a>
                </td>
                <td>589</td>
                <td>B. Huber </td>
                <td>123-456-888</td>
                <td>Huber@example.com</td>
                <td>Germany</td>
                <td>

                    <a class="me-3" href="editcustomer.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/customer/customer6.jpg" alt="product">
                    </a>
                    <a href="javascript:void(0);">James Stawberry</a>
                </td>
                <td>254</td>
                <td>James Stawberry</td>
                <td>+12163547758 </td>
                <td>customer@example.com</td>
                <td>Angola</td>
                <td>

                    <a class="me-3" href="editcustomer.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-imgs">
                        WC
                    </a>
                    <a href="javascript:void(0);">James Stawberry</a>
                </td>
                <td>681</td>
                <td>Fred john</td>
                <td>123-456-888</td>
                <td>john@example.com</td>
                <td>Albania</td>

                <td>

                    <a class="me-3" href="editcustomer.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
