<div class="table-responsive">
    <table class="table  datanew">
        <thead>
            <tr>
                <th>
                    <label class="checkboxs">
                        <input type="checkbox" id="select-all">
                        <span class="checkmarks"></span>
                    </label>
                </th>
                <th>Category name</th>
                <th>Reference</th>
                <th>Date</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Employee Benefits</td>
                <td>PT001</td>
                <td>19 Nov 2022</td>
                <td><span class="badges bg-lightgreen">Active</span></td>
                <td>120</td>
                <td>Employee Vehicle</td>
                <td>

                    <a class="me-3" href="editexpense.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Foods & Snacks</td>
                <td>PT002</td>
                <td>19 Nov 2022</td>
                <td><span class="badges bg-lightgreen">Active</span></td>
                <td>250</td>
                <td>Employee Foods</td>
                <td>

                    <a class="me-3" href="editexpense.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Entertainment</td>
                <td>PT003</td>
                <td>19 Nov 2022</td>
                <td><span class="badges bg-lightred">In Active</span></td>
                <td>120</td>
                <td>Office Vehicle</td>
                <td>

                    <a class="me-3" href="editexpense.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Office Expenses & Postage </td>
                <td>PT004</td>
                <td>19 Nov 2022</td>
                <td><span class="badges bg-lightgreen">Active</span></td>
                <td>320</td>
                <td>Employee Foods</td>
                <td>

                    <a class="me-3" href="editexpense.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Employee Benefits</td>
                <td>PT005</td>
                <td>19 Nov 2022</td>
                <td><span class="badges bg-lightgreen">Active</span></td>
                <td>250</td>
                <td>Employee Vehicle</td>
                <td>

                    <a class="me-3" href="editexpense.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Foods & Snacks</td>
                <td>PT006</td>
                <td>19 Nov 2022</td>
                <td><span class="badges bg-lightgreen">Active</span></td>
                <td>250</td>
                <td>Employee Foods</td>
                <td>

                    <a class="me-3" href="editexpense.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Entertainment</td>
                <td>PT007</td>
                <td>19 Nov 2022</td>
                <td><span class="badges bg-lightred">In Active</span></td>
                <td>120</td>
                <td>Office Vehicle</td>
                <td>

                    <a class="me-3" href="editexpense.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Office Expenses & Postage </td>
                <td>PT008</td>
                <td>19 Nov 2022</td>
                <td><span class="badges bg-lightgreen">Active</span></td>
                <td>320</td>
                <td>Employee Foods</td>
                <td>

                    <a class="me-3" href="editexpense.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Employee Benefits</td>
                <td>PT009</td>
                <td>19 Nov 2022</td>
                <td><span class="badges bg-lightgreen">Active</span></td>
                <td>120</td>
                <td>Employee Vehicle</td>
                <td>

                    <a class="me-3" href="editexpense.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Foods & Snacks</td>
                <td>PT010</td>
                <td>19 Nov 2022</td>
                <td><span class="badges bg-lightgreen">Active</span></td>
                <td>250</td>
                <td>Employee Foods</td>
                <td>

                    <a class="me-3" href="editexpense.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Entertainment</td>
                <td>PT011</td>
                <td>19 Nov 2022</td>
                <td><span class="badges bg-lightred">In Active</span></td>
                <td>120</td>
                <td>Office Vehicle</td>
                <td>

                    <a class="me-3" href="editexpense.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Office Expenses & Postage </td>
                <td>PT012</td>
                <td>19 Nov 2022</td>
                <td><span class="badges bg-lightgreen">Active</span></td>
                <td>320</td>
                <td>Employee Foods</td>
                <td>

                    <a class="me-3" href="editexpense.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
