<div class="table-responsive">
    <table class="table  datanew">
        <thead>
            <tr>
                <th>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </th>
                <th>Store name </th>
                <th>User name </th>
                <th>Phone</th>
                <th>email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox" id="select-all">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Thomas</td>
                <td>Thomas21 </td>
                <td>+12163547758 </td>
                <td>thomas@example.com</td>
                <td>
                    <div class="status-toggle d-flex justify-content-between align-items-center">
                        <input type="checkbox" id="user1" class="check" >
                        <label for="user1" class="checktoggle">checkbox</label>
                    </div>
                </td>
                <td>
                      
                    <a class="me-3" href="editstore.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Benjamin</td>
                <td>504Benjamin </td>
                <td>123-456-888</td>
                <td>customer@example.com</td>
                <td>
                    <div class="status-toggle d-flex justify-content-between align-items-center">
                        <input type="checkbox" id="user2" class="check" checked="">
                        <label for="user2" class="checktoggle">checkbox</label>
                    </div>
                </td>
                <td>
                      
                    <a class="me-3" href="editstore.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>James</td>
                <td>James 524 </td>
                <td>+12163547758 </td>
                <td>james@example.com</td>
                <td>
                    <div class="status-toggle d-flex justify-content-between align-items-center">
                        <input type="checkbox" id="user3" class="check" checked="">
                        <label for="user3" class="checktoggle">checkbox</label>
                    </div>
                </td>
                <td>
                      
                    <a class="me-3" href="editstore.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Bruklin</td>
                <td>Bruklin2022</td>
                <td>123-456-888</td>
                <td>bruklin@example.com</td>
                <td>
                    <div class="status-toggle d-flex justify-content-between align-items-center">
                        <input type="checkbox" id="user4" class="check" checked="">
                        <label for="user4" class="checktoggle">checkbox</label>
                    </div>
                </td>
                <td>
                      
                    <a class="me-3" href="editstore.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Franklin</td>
                <td>BeverlyWIN25</td>
                <td>+12163547758 </td>
                <td>Beverly@example.com</td>
                <td>
                    <div class="status-toggle d-flex justify-content-between align-items-center">
                        <input type="checkbox" id="user5" class="check">
                        <label for="user5" class="checktoggle">checkbox</label>
                    </div>
                </td>
                <td>
                      
                    <a class="me-3" href="editstore.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>B. Huber	</td>
                <td>BeverlyWIN25</td>
                <td>+12163547758 </td>
                <td>Huber@example.com</td>
                <td>
                    <div class="status-toggle d-flex justify-content-between align-items-center">
                        <input type="checkbox" id="user6" class="check">
                        <label for="user6" class="checktoggle">checkbox</label>
                    </div>
                </td>
                <td>
                      
                    <a class="me-3" href="editstore.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Alwin</td>
                <td>Alwin243</td>
                <td>+12163547758  </td>
                <td>customer@example.com</td>
                <td>
                    <div class="status-toggle d-flex justify-content-between align-items-center">
                        <input type="checkbox" id="user7" class="check">
                        <label for="user7" class="checktoggle">checkbox</label>
                    </div>
                </td>
                <td>
                      
                    <a class="me-3" href="editstore.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Fred john</td>
                <td>FredJ25</td>
                <td>+12163547758  </td>
                <td>john@example.com</td>
                <td>
                    <div class="status-toggle d-flex justify-content-between align-items-center">
                        <input type="checkbox" id="user15" class="check">
                        <label for="user15" class="checktoggle">checkbox</label>
                    </div>
                </td>
                <td>
                      
                    <a class="me-3" href="editstore.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Rasmussen	</td>
                <td>Cras56</td>
                <td>+12163547758   </td>
                <td>Rasmussen@example.com</td>
                <td>
                    <div class="status-toggle d-flex justify-content-between align-items-center">
                        <input type="checkbox" id="user9" class="check" checked>
                        <label for="user9" class="checktoggle">checkbox</label>
                    </div>
                </td>
                <td>
                      
                    <a class="me-3" href="editstore.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Grace	</td>
                <td>Grace2022</td>
                <td>+12163547758   </td>
                <td>customer@example.com</td>
                <td>
                    <div class="status-toggle d-flex justify-content-between align-items-center">
                        <input type="checkbox" id="user10" class="check" checked>
                        <label for="user10" class="checktoggle">checkbox</label>
                    </div>
                </td>
                <td>
                      
                    <a class="me-3" href="editstore.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Rasmussen	</td>
                <td>Cras56</td>
                <td>+12163547758   </td>
                <td>Rasmussen@example.com</td>
                <td>
                    <div class="status-toggle d-flex justify-content-between align-items-center">
                        <input type="checkbox" id="user19" class="check" checked>
                        <label for="user19" class="checktoggle">checkbox</label>
                    </div>
                </td>
                <td>
                      
                    <a class="me-3" href="editstore.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td>Grace	</td>
                <td>Grace2022</td>
                <td>+12163547758   </td>
                <td>customer@example.com</td>
                <td>
                    <div class="status-toggle d-flex justify-content-between align-items-center">
                        <input type="checkbox" id="user18" class="check" checked>
                        <label for="user18" class="checktoggle">checkbox</label>
                    </div>
                </td>
                <td>
                      
                    <a class="me-3" href="editstore.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
