<!-- /Filter -->
<div class="card" id="filter_inputs">
    <div class="card-body pb-0">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <input type="text" placeholder="Enter Brand Name">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <input type="text" placeholder="Enter Brand Description">
                </div>
            </div>
            <div class="col-lg-1 col-sm-6 col-12 ms-auto">
                <div class="form-group">
                    <a class="btn btn-filters ms-auto"><img src="assets/img/icons/search-whites.svg" alt="img"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Filter -->