<div class="table-responsive">
    <table class="table datanew">
        <thead>
            <tr>
                <th>
                    <label class="checkboxs">
                        <input type="checkbox" id="select-all">
                        <span class="checkmarks"></span>
                    </label>
                </th>
                <th>Supplier Name</th>
                <th>code</th>
                <th>Phone</th>
                <th>email</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/product/noimage.png" alt="product">
                    </a>
                    <a href="javascript:void(0);">Apex Computers</a>
                </td>
                <td>201</td>
                <td>+12163547758 </td>
                <td>thomas@example.com</td>
                <td>China</td>
                <td>

                    <a class="me-3" href="editsupplier.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/product/noimage.png" alt="product">
                    </a>
                    <a href="javascript:void(0);">Modern Automobile</a>
                </td>
                <td>202</td>
                <td>123-456-888</td>
                <td>customer@example.com</td>
                <td>USA</td>
                <td>

                    <a class="me-3" href="editsupplier.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/product/noimage.png" alt="product">
                    </a>
                    <a href="javascript:void(0);">AIM Infotech</a>
                </td>
                <td>521</td>
                <td>123-456-888</td>
                <td>customer@example.com</td>
                <td>USA</td>
                <td>

                    <a class="me-3" href="editsupplier.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/product/noimage.png" alt="product">
                    </a>
                    <a href="javascript:void(0);">Best Power Tools</a>
                </td>
                <td>555</td>
                <td>123-456-888</td>
                <td>bruklin@example.com</td>
                <td>Thailand</td>
                <td>

                    <a class="me-3" href="editsupplier.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/product/noimage.png" alt="product">
                    </a>
                    <a href="javascript:void(0);">AIM Infotech</a>
                </td>
                <td>325</td>
                <td>+12163547758 </td>
                <td>Beverly@example.com</td>
                <td>Phuket island</td>
                <td>

                    <a class="me-3" href="editsupplier.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/product/noimage.png" alt="product">
                    </a>
                    <a href="javascript:void(0);">Best Power Tools</a>
                </td>
                <td>589</td>
                <td>123-456-888</td>
                <td>Huber@example.com</td>
                <td>Germany</td>
                <td>

                    <a class="me-3" href="editsupplier.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/product/noimage.png" alt="product">
                    </a>
                    <a href="javascript:void(0);">Apex Computers</a>
                </td>
                <td>254</td>
                <td>+12163547758 </td>
                <td>customer@example.com</td>
                <td>Angola</td>
                <td>

                    <a class="me-3" href="editsupplier.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/product/noimage.png" alt="product">
                    </a>
                    <a href="javascript:void(0);">Vinayak Tools</a>
                </td>
                <td>681</td>
                <td>123-456-888</td>
                <td>john@example.com</td>
                <td>Albania</td>
                <td>

                    <a class="me-3" href="editsupplier.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/product/noimage.png" alt="product">
                    </a>
                    <a href="javascript:void(0);">Best Power Tools</a>
                </td>
                <td>555</td>
                <td>123-456-888</td>
                <td>bruklin@example.com</td>
                <td>Thailand</td>
                <td>

                    <a class="me-3" href="editsupplier.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/product/noimage.png" alt="product">
                    </a>
                    <a href="javascript:void(0);">AIM Infotech</a>
                </td>
                <td>325</td>
                <td>+12163547758 </td>
                <td>Beverly@example.com</td>
                <td>Phuket island</td>
                <td>

                    <a class="me-3" href="editsupplier.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/product/noimage.png" alt="product">
                    </a>
                    <a href="javascript:void(0);">Best Power Tools</a>
                </td>
                <td>589</td>
                <td>123-456-888</td>
                <td>Huber@example.com</td>
                <td>Germany</td>
                <td>

                    <a class="me-3" href="editsupplier.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/product/noimage.png" alt="product">
                    </a>
                    <a href="javascript:void(0);">Apex Computers</a>
                </td>
                <td>254</td>
                <td>+12163547758 </td>
                <td>customer@example.com</td>
                <td>Angola</td>
                <td>

                    <a class="me-3" href="editsupplier.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="checkboxs">
                        <input type="checkbox">
                        <span class="checkmarks"></span>
                    </label>
                </td>
                <td class="productimgname">
                    <a href="javascript:void(0);" class="product-img">
                        <img src="assets/img/product/noimage.png" alt="product">
                    </a>
                    <a href="javascript:void(0);">Vinayak Tools</a>
                </td>
                <td>681</td>
                <td>123-456-888</td>
                <td>john@example.com</td>
                <td>Albania</td>
                <td>

                    <a class="me-3" href="editsupplier.html">
                        <img src="assets/img/icons/edit.svg" alt="img">
                    </a>
                    <a class="me-3 confirm-text" href="javascript:void(0);">
                        <img src="assets/img/icons/delete.svg" alt="img">
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
</div>
